<div class="pageContainer">

    <div class="row row-cols-1 row-cols-md-3 g-10">

        <div class="card">
            <img src="/assets/Imagens/Londres.jpg" class="card-img-top" alt="praia">
            <div class="card-body">
                <h5 class="card-title ">Londres</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                    additional
                    content. This content is a little bit longer.</p>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button type="button" class="btn btn-primary">Comprar</button>
                </div>
            </div>
        </div>


        <div class="card">
            <img src="/assets/Imagens/Amsterdam.jpg" class="card-img-top" alt="praia">
            <div class="card-body">
                <h5 class="card-title">Amsterdam</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                    additional
                    content. This content is a little bit longer.</p>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button type="button" class="btn btn-primary">Comprar</button>
                </div>
            </div>
        </div>


        <div class="card">
            <img src="/assets/Imagens/Grecia.jpg" class="card-img-top" alt="praia">
            <div class="card-body">
                <h5 class="card-title">Grecia</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                    additional
                    content. This content is a little bit longer.</p>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button type="button" class="btn btn-primary">Comprar</button>
                </div>
            </div>
        </div>

    </div>

    <div class="row row-cols-1 row-cols-md-3 g-10">

        <div class="card">
            <img src="/assets/Imagens/Orlando.jpg" class="card-img-top" alt="praia">
            <div class="card-body">
                <h5 class="card-title">Orlando</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                    additional
                    content. This content is a little bit longer.</p>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button type="button" class="btn btn-primary">Comprar</button>
                </div>
            </div>
        </div>


        <div class="card">
            <img src="/assets/Imagens/Disney.jpg" class="card-img-top" alt="praia">
            <div class="card-body">
                <h5 class="card-title">Disney</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                    additional
                    content. This content is a little bit longer.</p>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button type="button" class="btn btn-primary">Comprar</button>
                </div>
            </div>
        </div>


        <div class="card">
            <img src="/assets/Imagens/Paris.jpg" class="card-img-top" alt="praia">
            <div class="card-body">
                <h5 class="card-title">Praia</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                    additional
                    content. This content is a little bit longer.</p>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button type="button" class="btn btn-primary">Comprar</button>
                </div>
            </div>
        </div>

    </div>
</div>