<div class="pageContainer">

    <div class="row row-cols-1 row-cols-md-3 g-10">

        <div class="card">
            <img src="/assets/Imagens/Londres.jpg" class="card-img-top" alt="praia">
            <div class="card-body">
                <h5 class="card-title ">Londres</h5>
                <p class="card-text">7 dias na capital da Inglaterra e do Reino Unido. <br> Aereo e hotel inclusos por
                    apenas R$6.500,00!
                </p>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button type="button" class="btn btn-primary">Comprar</button>
                </div>
            </div>
        </div>


        <div class="card">
            <img src="/assets/Imagens/Amsterdam.jpg" class="card-img-top" alt="praia">
            <div class="card-body">
                <h5 class="card-title">Amsterdam</h5>
                <p class="card-text">10 dias na capital da Holanda, <br>
                    Países Baixos <br>
                    Aereo e hotel inclusos por apenas R$9.000,00</p>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button type="button" class="btn btn-primary">Comprar</button>
                </div>
            </div>
        </div>


        <div class="card">
            <img src="/assets/Imagens/Atenas.jpg" class="card-img-top" alt="praia">
            <div class="card-body">
                <h5 class="card-title">Atenas</h5>
                <p class="card-text">5 dias na capital da Grécia, <br>
                    foi também o centro da Grécia Antiga.<br>
                    Aereo e hotel inclusos por apenas R$4.300,00</p>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button type="button" class="btn btn-primary">Comprar</button>
                </div>
            </div>
        </div>

    </div>

    <div class="row row-cols-1 row-cols-md-3 g-10">

        <div class="card">
            <img src="/assets/Imagens/Orlando.jpg" class="card-img-top" alt="praia">
            <div class="card-body">
                <h5 class="card-title">Orlando</h5>
                <p class="card-text">5 dias no centro da Flórida, <br>
                    cidade que abriga mais de uma dezena de parques temáticos.<br>
                    Aereo e hotel inclusos por apenas R$8.500,00</p>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button type="button" class="btn btn-primary">Comprar</button>
                </div>
            </div>
        </div>


        <div class="card">
            <img src="/assets/Imagens/Disney.jpg" class="card-img-top" alt="praia">
            <div class="card-body">
                <h5 class="card-title">Disney</h5>
                <p class="card-text">3 dias no resort de entretenimento mais visitado em todo o mundo,<br>
                    situado em Bay Lake, Flórida.<br>
                    Aereo e hotel inclusos por apenas R$6.700,00</p>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button type="button" class="btn btn-primary">Comprar</button>
                </div>
            </div>
        </div>


        <div class="card">
            <img src="/assets/Imagens/Paris.jpg" class="card-img-top" alt="praia">
            <div class="card-body">
                <h5 class="card-title">Paris</h5>
                <p class="card-text">7 dias na capital da França, <br>
                    centro mundial de arte, moda, gastronomia e cultura.<br>
                    Aereo e hotel inclusos por apenas R$7.500,00</p>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button type="button" class="btn btn-primary">Comprar</button>
                </div>
            </div>
        </div>

    </div>
</div>