 
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      color: #fff;
    }

    body {
      background-color: #333333;
    }

    #pageContainer {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      width: 100%;
      max-width: 800px;
      padding: 1rem;
      /*16px*/
      height: 100vh;
    }

    .invertColor {
      filter: invert(0.8);
    }

   
  