 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
                    
    }

    .conteudo{ 
      display: flex;
      justify-content: center;

    }

    .text{
      color: white !important;
    }